@model Index2Model
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@if (Model != null)
{
    <p>@Model.Message</p>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial">
    <script>
        alert('Pagina carregada!');
    </script>
}
